.fs-sm {
  font-size: 12px !important;
}

.fs-md {
  font-size: 14px !important;
}

.fs-x {
  font-size: 18px !important;
}

.flex-grow-2 {
  flex-grow: 2;
}

.nowrap {
  white-space: nowrap;
}

.end-label {
  text-align: end;
  padding-right: 1rem;
  @include respond-to(md) {
    text-align: start;
  }
}




.dropdown-item.active,
.dropdown-item:focus {
  background-color: transparent;
}

.text-primary {
  color: $primary !important;
}

.bg-primary {
  background-color: $primary !important;
}


.text-light {
  color: var(--light-font) !important;
}

.bg-success {
  background-color: var(--green) !important;
}

.bg-info {
  background-color: var(--skyblue) !important;
}

.bg-danger {
  background-color: var(--red) !important;
}

.text-success {
  color: var(--green) !important;
}

.btn {
  font-size: 14px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 8px 16px;
}

.btn:hover {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.btn-primary {
  background-color: var(--primary) !important;
  border-color: #3e4fb1;
}

.btn-primary:hover {
  background-color: #32408f !important;
}

.btn-outline-primary {
  border-color: var(--primary) !important;
  color: var(--primary) !important;
}

.btn-outline-primary:hover {
  background-color: var(--primary) !important;
  color: #fff !important;
}

.btn-success {
  background-color: var(--green) !important;
  border-color: #4aab4e !important;
}

.btn-success:hover {
  background-color: #3d8b40 !important;
}

.btn-outline-success {
  border-color: var(--green) !important;
  color: var(--green) !important;
}

.btn-success.active {
  background-color: #3d8b40 !important;
}

.btn-outline-success:hover {
  background-color: var(--green) !important;
  color: #fff !important;
}

.text-info {
  color: var(--skyblue) !important;
}

.text-danger {
  color: var(--red) !important;
}

.form-control {
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #e4e4e4;
  border-radius: 0;
}

.form-control:focus {
  border-bottom: 2px solid #1976d2;
  box-shadow: none;
}

.input-group {
  height: 38px;
}

.input-group-text {
  background-color: #eee;
  border-radius: 0;
}

.form-select {
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #e4e4e4;
  border-radius: 0;
}

.form-select:focus {
  border-bottom: 2px solid #1976d2;
  box-shadow: none;
}

.table th,
.table td {
  padding: 10px 22px;
  vertical-align: middle;
}




.btn-default {
  color: $light-font;
  background-color: white;
  border-color: $primary-deep;

  &:hover {
    border-color: $primary-deep;
    @include shadow-effect;
  }
}

// Floating label input-group
.floating-label {
  position: relative;

  input {
    margin-top: 2rem;
    border: none;
    border-bottom: 1px solid $dashboard-bg;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    padding: 5px 0;

    &:focus {
      border-bottom: 2px solid $primary-deep;
    }

    &:focus + label {
      top: 5px;
      font-size: 12px;
      color: $primary-deep;
    }
  }

  label {
    position: absolute;
    top: 2rem;
    left: 0;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.3s;

    &.typed {
      top: 1rem;
    }
  }
}

.invoice-table th {
  border: 1px solid #fff;
  background-color: #a2a2a2;
  color: #fff !important;
}


.whiteframe {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}


.datepicker {
  font-size: 12px;
  padding: 20px;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* also add some paddings to the days */

.datepicker-days th,
.datepicker-days td {
  padding: 5px;
}

/* make sunday red */

.datepicker-days th:nth-child(1),
.datepicker-days td:nth-child(1),
.datepicker-days td.old.day:nth-child(1),
.datepicker-days td.new.day:nth-child(1) {
  color: red;
}

.datepicker th.dow,
.datepicker th.prev {
  color: #000 !important;
}

/* remove the red color for left arrows */

.datepicker-prev {
  color: #000 !important;
}

@media screen and (max-width: 768px) {
  .show-xs {
    display: block !important;
  }

  .hide-xs {
    display: none !important;
  }
}
