@import "bootstrap/scss/bootstrap";
@import "variables";
@import "mixins";
@import "breakpoints";
@import "utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

ul li {
  padding: 0;
  list-style: none;
}

body,
#root {
  background-color: $dashboard-bg;
  font-family: $font-family-base;
  letter-spacing: 0.5px;
}

// login page

#login-container {
  height: 100vh;
}

#login-form {
  width: 420px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.14);
  color: rgba(70, 70, 70);
  text-align: center;

  h2 {
    font-weight: 700;
    font-size: 30px;
    margin-top: 0.5rem;
  }

  h5 {
    font-weight: 400;
    font-size: 14px;
  }

  .form-check {
    input {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 0;
      margin-right: 10px;
      /* Space between checkbox and label */

      &:checked {
        border: 1px solid $primary-deep;
        background-color: $primary-deep;
        color: #fff;
        cursor: pointer;
      }
    }

    label {
      cursor: pointer;
      font-size: 14px;
      margin-top: 3px;
    }
  }
}

// dashboard page
/* ensure all the list items are stacked vertically */
.sidebar li,
.main-header li {
  @include flex-center;
}

.main-container {
  display: flex;
}

// Sidebar

.sidebar {
  flex-shrink: 0;
  background-color: #fff;
  min-height: 100vh;
  width: 220px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: width 0.3s;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  white-space: nowrap;

  @include respond-to(sm) {
    width: 0;
  }

  ol,
  ul {
    list-style: none;
    padding: 0;
  }

  .sidebar-nav-container {
    overflow: hidden;
    background-color: #fff;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    transition: width 0.3s;
    height: calc(100% - 55px);
  }

  &.collapsed {
    width: 65px;
    @include respond-to(sm) {
      width: 0;
    }
  }

  &.active {
    @include respond-to(sm) {
      width: 220px;
    }
  }

  &.collapsed:hover {
    width: 220px;
  }

  &.collapsed + .main {
    margin-left: 65px;
  }

  &.collapsed + .main .main-header {
    width: calc(100% - 65px);
  }

  .sidebar-header {
    width: 100%;
    height: 55px;
    background-color: $primary-deep;
    color: #fff;

    .logo {
      height: 100%;

      a {
        color: #fff;
        font-size: 22px;
        font-weight: 700;
        display: flex;
        align-items: center;
        height: 100%;

        & *:first-child {
          flex: 0 0 65px;
          font-size: 25px;
        }

        & *:last-child {
          flex: 0 0 calc(100% - 65px);
        }
      }
    }
  }

  .profile {
    display: flex;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

    & > *:first-child {
      flex: 0 0 65px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & > *:last-child {
      flex: 0 0 calc(100% - 65px);
      padding: 0 10px;
    }

    .profile-img-container img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
    }

    .content {
      a {
        color: $primary;
        font-size: $font-size-base;
      }

      .designation {
        font-size: 12px;
      }

      .dropdown-item {
        color: $light-font;
      }
    }
  }
}

.sidbar-nav {
  a {
    display: flex;
    width: 100%;
    padding: 5px 0;
    padding-right: 1rem;
    color: $light-font;
    align-items: center;

    &:hover {
      background-color: $sidebar-hover;
    }

    & > *:first-child {
      flex: 0 0 40px;
      margin-left: 12px;
      margin-right: 13px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
    }

    & > *:nth-child(2) {
      flex: 1;
      text-transform: uppercase;
      padding-left: 12px;
      font-size: 12px;
      font-weight: bold;
    }

    & > *:last-child {
      font-size: 12px;
    }
    &:focus .icon-container {
      background-color: $sidebar-icon-bg;
      color: #fff;
      background-color: $sidebar-icon-bg;
    }
  }

  .dashboard {
    background-color: $sidebar-hover;
  }

  .inner-toggle {
    font-size: 12px;
    &.open {
      background-color: $sidebar-hover;
      & + .inner-drop {
        height: max-content;
      }
    }
  }

  ul li {
    flex-direction: column;
    font-size: 14px;
  }

  .dashboard {
    background-color: $sidebar-hover;
    .icon-container {
      background-color: $sidebar-icon-bg;
      color: #fff;
    }
  }

  .inner-drop {
    font-size: 13px;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s;

    // &.open {
    //   height: max-content;
    // }

    a {
      padding: 10px 0 10px 55px;
      overflow: hidden;
    }
  }

  .toggle-icon {
    font-size: 10px !important;
    &.rotate {
      transform: rotate(-90deg) !important;
    }
  }
}

.main {
  flex: 1 1 auto;
  margin-top: 55px;
  transition: margin-left 0.3s;
  margin-left: 220px;
  min-height: calc(100vh - 55px);
  @include respond-to(sm) {
    margin-left: 0;
  }
}

.sidebar.collapsed:hover + .main {
  margin-left: 220px;
}

.main-header {
  background-color: $primary;
  height: 55px;
  position: fixed;
  width: calc(100% - 220px);
  margin-left: 220px;
  top: 0;
  right: 0;
  z-index: 1000;
  transition: width 0.3s;
  @include respond-to(sm) {
    width: 100%;
    margin-left: 0;
  }
}

.sidebar.collapsed:hover + .main .main-header {
  width: calc(100% - 220px);
}

.header-nav {
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0 20px;
  position: relative;

  #nav-toggler ion-icon {
    font-size: 20px;
    padding: 5px 15px;
    cursor: pointer;
  }

  .search-container {
    margin-left: 30px;

    .form-search {
      width: 240px;
      height: 38px;
      display: flex;
      align-items: center;
      background-color: #fff;
      position: relative;

      input {
        border: none;
        width: 100%;
        height: 100%;
        padding: 6px 14px;
        font-size: 14px;
        outline: none;
      }

      button {
        position: absolute;
        border: none;
        background-color: transparent;
        color: $light-font;
        font-size: 1rem;
        display: flex;
        align-items: center;
        right: 15px;
      }
    }
  }

  .scan {
    margin-left: 30px;

    a {
      display: flex;
      align-items: center;
    }
  }

  .site-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;

    a {
      color: #fff;
      font-size: 24px;
      font-weight: 900;
    }
  }
}

.main {
  overflow: hidden;
  font-size: 14px;
  color: #464646;
}

.main-content {
  padding: 20px;
  background-color: #fff;
  min-height: calc(100vh - 55px);
  background-color: $dashboard-bg;
}

.main > .row {
  margin: 0 5px;
}

// PANEL
.panel {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.14);
  }

  ion-icon {
    font-size: 42px;
    color: $light-font;
  }

  .input-group {
    ion-icon {
      font-size: 1rem;
    }
  }

  .panel-header {
    padding: 14px 0;
    margin: 0 24px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .panel-footer {
    padding: 8px 24px;
  }

  ul {
    li {
      border-left: 1px solid $primary-deep;
      position: relative;
      padding: 3px 0 3px 30px;

      .point {
        position: absolute;
        left: 0;
        top: 9px;
        transform: translateX(-50%);
        width: 9px;
        height: 9px;
        border-radius: 100%;
        background-color: $primary-deep;
      }

      span {
        font-size: 12px;
      }
    }
  }
}

// .bg-primary {
//   background-color: $primary !important;
// }
